.tab {
    font-family: 'Open Sans', sans-serif;
	font-weight: 100;
    background-color: #ce796b;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
}

.tab.active {
    font-family: 'Open Sans', sans-serif;
	font-weight: 100;
    background-color: #ecc8af;
    color: #ce796b;
    border: 1px solid #ce796b;
    border-bottom: none;
}

.tabcontent {
    font-family: 'Open Sans', sans-serif;
	font-weight: 100;
    display: none;
    padding: 20px;
    border: 1px solid #ce796b;
    }

.tabcontent.active {
    font-family: 'Open Sans', sans-serif;
	font-weight: 100;
    display: block;
}
.Drop-down{

    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
    background-color: #ce796b;
    color: white;
}

.Button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    text-align: center;
    background-color: #ce796b;
    color: white;



}